@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.17);
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px);
    @apply flex items-center px-5 py-2 text-white rounded-md border border-white border-opacity-20 transition hover:border-opacity-100 hover:bg-opacity-50;
}

.button-outline {
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.17);
    @apply flex items-center px-5 py-2 text-white rounded-md border border-white border-opacity-20 transition hover:border-opacity-100;
}

.glass {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px);
}

.glow {
    position: relative;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    z-index: 2;
}
.glow:after {
    opacity: 0.4;
    position: absolute;
    content: "";
    top: 0.5vw;
    transform: scale(0.98);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    -webkit-filter: blur(6vw);
    -moz-filter: blur(6vw);
    -ms-filter: blur(6vw);
    filter: blur(6vw);
    background: linear-gradient(90deg, #0465d3, #20fcfc);
    background-size: 120% 120%;
    animation: animateGlow 15s ease infinite;
}

@keyframes animateGlow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
